﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var year = DateTime.Now.Year;
    var currentPage = @CurrentPage.Site();
}

<section id="footer" class="footer-section">
    <div class="container footer-padding">
        <div class="row">
            <div class="col-md-6" style="padding-right:60px;">
                <!--<img src="Assets/Images/Logo.png" class="img-responsive img-logo"/>-->
                <div>
                    <img class="img-responsive" src="@currentPage.logoFooter"/>
                </div>
                <div class="footer-description">
                    <p>
                       @currentPage.footerdescription
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-useful">
                    <h4>Usefuk Links</h4>
                    <ul>
                        @{
                            if (currentPage.HasValue("footer") && currentPage.GetPropertyValue<string>("footer").Length > 0)
                            {

                                foreach (var item in currentPage.footer)
                                {
                                    var linkUrl = item.Link;
                                    var linkTarget = item.NewWindow ? "_blank" : "";
                                    <li><a href="@linkUrl" target="@linkTarget">@(item.Caption)</a></li>
                                }

                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-socmed">
                    <h4>Find us on</h4>
                    <div>
                        <a href="#" class="socmed-icon"><img src="~/Assets/Images/fb_lrg.png" class="footer-socmed" /></a>
                        <a href="#" class="socmed-icon"><img src="~/Assets/Images/twitter_lrg.png" class="footer-socmed" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row yelow-footer">
        <div class="pull-right copyright">
            Lorem @year
        </div>
    </div>
</section>
