﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var currentPage = @CurrentPage.Site();
}

<section class="top-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @*<div class="col-md-1 pull-right">
                        <div class="pull-right">
                            <a href="#" class="flag"><img src="~/Assets/Images/flag-eng.gif" alt="" class="flag-img" /></a>
                            <a href="#" class="flag"><img src="~/Assets/Images/flag-ina.gif" alt="" class="flag-img" /></a>
                        </div>
                    </div>*@
                <div class="col-md-2 pull-right">
                    <div class="pull-right">
                        <a href="#"><img src="~/Assets/Images/fb_sml.png" class="socmed-img" /></a>
                        <a href="#"><img src="~/Assets/Images/twitter_sml.png" class="socmed-img" /></a>
                        <a href="#"><img src="~/Assets/Images/gplus_sml.png" class="socmed-img" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <nav class="navbar navbar-kawi">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">
                    <img class="img-responsive img-logo" src="@currentPage.Icon" />
                </a>
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse" style="margin-bottom:15px;">
                <ul class="nav navbar-nav navbar-right menu">
                    @{
                        if (currentPage.HasValue("header") && currentPage.GetPropertyValue<string>("header").Length > 0)
                        {

                            foreach (var item in currentPage.header)
                            {
                                var linkUrl = item.Link;
                                var linkTarget = item.NewWindow ? "_blank" : "";
                                <li class="menu"><a href="@linkUrl" target="@linkTarget" class="menu"><span class="navbar-span">@(item.Caption)</span></a></li>
                            }

                        }
                    }
                </ul>
            </div>
        </div>
        <hr />
    </nav>
</section>

