﻿@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@model KawiGopala.Site.Models.ProductVIewModel

<div class="col-md-3">
    <img src="@Model.imgUrl" class="img-responsive" />
    <div class="product-description">
        <h4>@Model.title</h4>
        <hr />
        <p>
            @Model.description
        </p>
    </div>
</div>     
