﻿<script type="text/javascript" src="~/Assets/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Assets/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Assets/Scripts/Scripsts.js"></script>
<script src="~/Assets/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Assets/Scripts/slick.js" type="text/javascript"></script>
<script src="~/Assets/Scripts/masonry-docs.min.js"></script>
