﻿<link rel="stylesheet" href="~/Assets/Styles/bootstrap.min.css" />
<link rel="stylesheet" href="~/Assets/Styles/Styles.css" />
<link rel="stylesheet" href="~/Assets/Styles/slick.css" />
<link rel="stylesheet" href="~/Assets/Styles/slick-theme.css" />
<link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />