﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var seo = CurrentPage._seoFields;
    if (!IsNullOrEmpty(seo))
    {
        if (seo.noseo == null || seo.noseo == false)
        {
            var title = IsNullOrEmpty(seo.title) ? CurrentPage.Name : seo.title;
            <title>@title</title>
            if (IsNullOrEmpty(seo.keywords) == false)
            {
                <meta name="keywords" content="@seo.keywords" />
            }
            if (IsNullOrEmpty(seo.description) == false)
            {
                <meta name="description" content="@seo.description" />
            }
            if (IsNullOrEmpty(seo.robots) == false)
            {
                <meta name="robots" content="@seo.robots" />
            }
        }
    }
}

@functions {
    private bool IsNullOrEmpty(object property)
    {
        return property == null || String.IsNullOrEmpty(property.ToString());
    }
}
