﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var currentPage = @CurrentPage.Site();
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.Partial("_uSeoPro")
    @Html.Partial("_Style")
    @Html.Partial("_Script")
</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    @RenderBody()
    @Html.Raw(currentPage.beforeFooter)
    <footer>
        @Html.Partial("_Footer")
    </footer>
    @Html.Raw(currentPage.afterFooter)
</body>
</html>