<div ng-controller="Umbraco.PropertyEditors.Grid.TextStringController">
    <textarea rows="1"
              umb-auto-resize
              umb-auto-focus
              class="textstring input-block-level" id="{{control.uniqueId}}_text"
              ng-model="control.value.headline"
              ng-attr-style="{{control.editor.config.style}}" placeholder="Write headline here..."></textarea>
</div>
