﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using KawiGopala.Site.Controllers
@using KawiGopala.Site.Models 

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(Request.QueryString["scs"]=="1"))
{ 
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h1>Pesan Anda Terkirim</h1>
                    <p>Terima kasih sudah mengirimkan pesan anda pada kami.</p>
                    <br />
                </div>
            </div>
        </div>
}
else
{
<script>
    $(document).ready(function () {
        $('#contactForm').validate({
            highlight: function (element) {
                $(element).parent('div').addClass('has-error');
            },
            unhighlight: function (element)
            {
                $(element).parent('div').removeClass('has-error');
            },
            messages: {
                FirstName:
                {
                    required:"Nama anda belum terisi"
                },
                LastName:
                {
                    required:"Nama anda belum terisi"
                },
                EmailAddress:
                {
                    required: "Email anda belum terisi"
                },
                Message: 
                {
                    required: "Pesan anda belum terisi"
                }
            }
        });
    });
</script>
 <section>
     <div style="text-align: center;" class="contactUs">
        <strong>@Model.value.headline</strong>
     </div>

     <div class="container">
         <div class="row">
             <div class="col-md-9 col-md-offset-3 col-xs-12" style="margin-bottom:10px">
                 <form id="contactForm" method="post" action="~/Contact/SendEmail">
                     <div class="form-group col-md-4">
                         <label>Nama Depan</label>
                         <input type="text" class="form-control required" id="FirstName" name="FirstName" placeholder="Nama Depan *" />
                     </div>
                     <div class="form-group col-md-4">
                         <label>Nama Belakang</label>
                         <input type="text" class="form-control required" id="LastName" name="LastName" placeholder="Nama Belakang *" />
                     </div>
                     <div class="form-group col-md-8">
                         <label>Alamat Email</label>
                         <input type="email" class="form-control required" id="EmailAddress" name="EmailAddress" placeholder="Alamat Email *" />
                     </div>
                     <div class="form-group col-md-8">
                         <label>Nomor Telephone</label>
                         <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Nomor Telephone" />
                     </div>
                     <div class="form-group col-md-8">
                         <label>Pesan</label>
                         <textarea class="form-control required" rows="3" name="Message" placeholder="Pesan *" error-required="Write Message Here" aria-required="true"></textarea>
                     </div>
                     <div class="col-md-8 btn-send">
                         <button type="submit" class="btn-yellow">Kirim</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>          
</section>
}
 