﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using LimOff.CMS.Site.Controllers
@using LimOff.CMS.Site.Models 

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(Request.QueryString["scs"]=="1"))
{ 
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h1>YEAH!</h1>
                    <p>Thanks for sending your message, we will get back to you shortly.</p>
                    <br />
                </div>
            </div>
        </div>
}
else
{
<script>
    $(document).ready(function () {
        $('#contactForm').validate({
            highlight: function (element) {
                $(element).parent('div').addClass('has-error');
            },
            unhighlight: function (element)
            {
                $(element).parent('div').removeClass('has-error');
            },
            messages: {
                Name:
                {
                    required: "Your name is required"
                },
                Email:
                {
                    required: "Your email is required",
                    email: "Please enter a valid email address"
                } ,
                Message: 
                {
                    required: "Your messeage is required"
                }
            }
        });
    });
</script>
    
 <section class="with-hero-section">
    <div class="heading-section">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h1>@Model.value.headline</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <p>@Model.value.description</p>
                <form id="contactForm" class="form-generic" method="post" action="/Contact/HandleContactForm">
                    <div class="form-group">
                        <label for="Name">Full Name *</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address *</label>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="Message">Your message *</label>

                        <textarea class="form-control" id="Message" name="Message" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-default btn-submit">Send</button>
                </form>
            </div>
        </div>
     </div>              
</section>
}
 