﻿@charset "utf-8";
/* CSS Document */
body{
    color:#000000;
    font-family:'Myriad Pro';
}

.navbar-kawi{
    margin-bottom:-10px;
}

.top-bg
{
	background-color:#000000;
	padding:10px 0px 10px 0px;
}

.socmed-img
{
    height: 25px;
}

.flag{
	margin-right:5px;
}

.flag-img{
    height: 17px;
}
.middle-top
{
	padding-top:10px;
}

.img-logo
{
    height: 45px;
}

.logo-h1
{
	font-family:"Myriad Pro";
	padding-left:70px;
    color:#000;
}

.logo-footer
{
    height:60px;
}

/*.footer-socmed
{
    height:50px;
}*/
.socmed-icon > img{
    height:55px;
}

ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    /*float: left;*/
    font-size:25px;
    
}
li ul {
    display: none;
}

#tag li a{
    font-size:19px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    /*background: #2C5463;*/
    margin-left: 1px;
    white-space: nowrap;
}

a {
    color: #000000;
}

a:hover, a:focus {
    color: #ffcc00;
    text-decoration:none;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    color: #ffcc00;
    border-top:solid #ffcc00 3px;
    background-color:#ffffff;
}

.navbar-span
{
    margin-top: 15px;
    display: block;
}

#navbar ul.nav .active a {
    text-decoration: none;
    color: #ffcc00;
    border-top:solid #ffcc00 3px;
    background-color:#ffffff;
}

#menu {
    float: right;
    margin-top: 32px;
}

div .item > .img-slider
{
    width:1500px;
    height:510px;
}

.slider-caption
{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.carousel-control
{
    width:5%;
}

.welcome-section
{
    background:#000000;
    padding:20px;
}

.welcome-to 
{
    color:#ffcc00;
    padding-bottom:15px;
}

.welcome-description
{
    color:#ffffff;
    padding-bottom:15px;
}

.product-section
{
    padding:20px;
}

.product
{
    padding-top:50px;
}

.product-description
{
    /*position:absolute;*/
    color:#000000;
    text-align:center;
}

.product-description > h4
{
    font-weight:bold;
}

hr{
    border-top: 2px solid #ecf0f1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-description > p
{
    text-align:justify;
    padding:0 10px 0 10px;
}

.footer-section
{
    background:#000000;
    padding:20px;
}

.footer-padding
{
    padding-bottom:45px;
    padding-left: 60px;
    padding-right: 60px;
}

.footer-description
{
    color:#fff;
    text-align: justify;
    margin-top: 15px;
}

.footer-useful
{
    padding-top: 15px;
    /*padding-left: 60px;
    padding-right: 60px;*/
    color: #fff;
}

.footer-useful > h4{
    font-weight:bold;
    margin-left:0px;
}

.footer-useful > ul
{
    padding-left:0px;
}

.footer-useful > ul > li a
{
    color:#ffcc00;
    text-decoration:none;
    border:none;
    padding:0px;
}

.footer-useful > ul > li a:hover {
    color:#ffffff;
}

.footer-socmed
{
    padding-top:15px;
    color:#fff;
}

.footer-socmed > h4{
    font-weight:bold;
    margin-left:0px;
}

.yelow-footer
{
    background:#ffcc00;
    height:60px;
}

.copyright
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 30px;
    color:#776622;
}
.productRec{
    font-size:45px;
    font-family:'Myriad Pro';
}

.productRec > strong{
    border: solid;
    border-left: none;
    border-right: none;
    padding: 10px 0 5px 0;
    color:#000000;
}

/*Contact Us*/

.contactUs{
    font-size:45px;
    font-family:'Myriad Pro';
    margin-bottom:45px;
    margin-top:35px;
}

.contactUs > strong{
    border: solid;
    border-left: none;
    border-right: none;
    padding: 10px 0 5px 0;
    color:#000000;
}

.btn-send{
    text-align:center;
}

.btn-yellow{
    border: 1px solid #ffffff;
    background: #ffcc00;
    color: #000000;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    height: 37px;
    line-height: 34px;
    padding: 0 40px;
    transition: all 0.2s;
}
.product-top{
    font-size:45px;
    font-family:'Myriad Pro';
	padding-top:40px;
    padding-bottom:40px;
}

.product-top > strong{
    border: solid #ffcc00;
    border-left: none;
    border-right: none;
    padding: 10px 0 5px 0;
    color:#ffffff;
}

.product-bg{
    background-color:#000000;
}

.product-item-section{
    background-color:#bdbdbd;
}

.kawi-crumb{
    background:#ffffff;
}

.kawi-crumb > li
{
    font-size: 24px;
    font-weight: bold;
}

.hero-grid__item > div > div >h4
{
    font-weight:bold;
    color:#000000;
}

.box-title{
    padding-left:10px;
}

.productName
{
    padding: 0 0px 0 0px;
}

.box-description{
    text-align: justify;
    padding: 10px;
}

ul.product-step > li
{
    display:inline;
}

.product-item-section{
    background-color:#bdbdbd;
}

.product-bg{
    background-color:#000000;
}

.product-step > li
{
    display:inline;
}

.product-detail-title > h3,h4{
    font-weight:bold;
    margin-left:15px;
}

.product-detail-description{
    margin-left:10px;
    margin-right:10px;
}

.product-detail{
    padding-bottom:20px;
}

.product-detail-description > ul > li
{
    list-style:circle;
}

.product-detail-list > li{
    font-size:16px;
    display:list-item;
    color:#000000;
}

.prodcut-detail-nolist > li{
    display:block;
    font-size:16px;
    color:#000000;
}

.product-recomend{
    /*padding-top: 15px;
    padding-bottom: 5px;*/
}

.product-recomend > h3{
font-weight:bold;
}

.product-recomend-detail > p
{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: justify;
}

.product-related{
    padding-bottom: 15px;
}

.product-related > h3{
    font-weight:bold;
}

.product-related > p{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: justify;
}

 * {
      box-sizing: border-box;
    }

    .slick-slide {
      /*margin: 0px 20px;*/
      margin-top:1px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .product-img > img
    {
        height: 395px;
    }

    .product-img-slider > img
    {
        height:85px;
        width:85px;
    }

.productList{
    background-color:#ffffff; 
    padding-right:0px; 
    padding-left:0px;
}

.productList > div
{
    background-color: #ffcc00; 
    margin-top:-20px;
}

.productList > div > h2{
    padding: 15px 10px 15px 10px;
    font-weight:bold;
}

.item-desc{
    padding:0px 0px 10px 0px;
}

.icon-desc{
    padding: 0 0px 0 0px;
}

.productList ul > li .active{
    background:#ffcc00;
}

#tag{
    padding-left:0px;
}

#tag > li a .active{
    background:#ffcc00;
}