﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var mediaIds = Model.MacroParameters["mediaCarousel"];}

@{

    var carouselHolder = Umbraco.TypedContent(mediaIds);
    var children = carouselHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.CarouselItem);
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{int i = 0;}
        @foreach (var item in children)
        {
            var imageContent = item.GetPropertyValue<IPublishedContent>("image");
            var imageUrl = imageContent != null ? imageContent.Url : string.Empty;
            var description = item.GetPropertyValue("description");
			var title = item.GetPropertyValue("title");
            i++;
            if(i == 1)
            {
             <div class="item active">
                <img src="@imageUrl" class="img-slider img-responsive" />
                <div class="slider-caption">
                    <h3>@title</h3>
                    <p>@description</p>
                </div>
            </div>
            }
            else
            {
            <div class="item">
                <img src="@imageUrl" class="img-slider img-responsive" />
                <div class="slider-caption">
                    <h3>@title</h3>
                    <p>@description</p>
                </div>
            </div>      
            }
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>