﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var mediaIds = Model.MacroParameters["productRelated"];}

@{
    var productHolder = Umbraco.TypedContent(mediaIds);
    var url = Request.QueryString.ToString();
    var id = url.Replace("Id=", "");
    
    var produkTag = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem)
        .Where(x => x.Id.ToString() == id).Select(x => x.GetPropertyValue("itemtag").ToString()).First();

    var produkTerkait = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem)
        .Where(x => x.GetPropertyValue("itemtag").ToString() == produkTag).Take(4).ToList();        
}

<hr />
<div class="product-related">
    <h3>Produk Terkait</h3>
</div>
<div class="row">
    @foreach (var item in produkTerkait)
    {
        var imageList = item.GetPropertyValue("images") as Umbraco.Web.Models.DynamicPublishedContentList;
        var imageContent = item.GetPropertyValue<IPublishedContent>("image");
        var imageUrl = imageContent != null ? imageContent.Url : string.Empty;
        var description = item.GetPropertyValue("description");
        var title = item.GetPropertyValue("title");
        var idTag = item.Id;
        
         <div class="col-md-3 product-related">
            <img src="@imageList.First().Url" class="img-responsive" />
             <h4 class="text-center"><a href="~/produk/produkdetail?Id=@idTag">@title</a></h4>
            <p>@description</p>
        </div>   
    }

    @if(produkTerkait.Count <= 0)
    {
       <div class="col-md-3 product-related">
          <p>Tidak ada produk yang terkait.</p>
       </div>
    }
</div>



 



