﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var mediaIds = Model.MacroParameters["productRecRight"];}

@{
    var productHolder = Umbraco.TypedContent(mediaIds);
    var productRec = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem)
        .Where(x => x.GetPropertyValue("isRecomended").ToString() == "True").Take(3).ToList();
}
<div class="product-recomend">
    <h3>Produk Rekomendasi</h3>
</div>
<hr />
@foreach (var item in productRec)
{
    var imageList = item.GetPropertyValue("images") as Umbraco.Web.Models.DynamicPublishedContentList;
    var imageUrl = imageList.First().Url;
    //var imageContent = item.GetPropertyValue<IPublishedContent>("image");
    //var imageUrl = imageContent != null ? imageContent.Url : string.Empty;
    var description = item.GetPropertyValue("description");
    var title = item.GetPropertyValue("title");
	var id = item.Id;

    <div class="product-recomend-detail">
        <img src="@imageUrl" class="img-responsive" />
		<h4 class="text-center"><a href="~/produk/produkdetail?Id=@id">@title</a></h4>
        <p>@description</p>
    </div>
}
   
