﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using KawiGopala.Site.Models

@{ var mediaIds = Model.MacroParameters["productLists"];}

@{
    var url = Request.QueryString.ToString();
    var tag = url.Replace("tag=", "");
    var productHolder = Umbraco.TypedContent(mediaIds);
    var children = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem);
    var categoryTag = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem).First();
    var service = UmbracoContext.Application.Services.TagService;
    var blogTags = service.GetAllTags("default").ToList();
}

@if (url != string.Empty)
{
    children = children.Where(ctg => ctg.GetPropertyValue("itemtag").ToString() == tag).ToList();
}



@*<link rel=" stylesheet" href="~/Assets/Styles/masonry-docs.css" />*@
<div>
    <ol class="breadcrumb kawi-crumb">
        <li>Produk</li>
        @if(@url != string.Empty)
        {
           <li>@categoryTag.GetPropertyValue("itemtag")</li>   
        }
        else
        {
           <li>All</li>   
        }
    </ol>
    <div class="hero" data-js-module="hero">
        <div class="hero-grid clearfix">
            <div class="hero-grid__grid-sizer"></div>
            @foreach (var item in children)
            {
                string isTrue = "True";
                var imageList = item.GetPropertyValue("images") as Umbraco.Web.Models.DynamicPublishedContentList;
                //var imageContent = item.GetPropertyValue<IPublishedContent>("image");
                //var imageUrl = imageContent != null ? imageContent.Url : string.Empty;
                var description = item.GetPropertyValue("description");
                var title = item.GetPropertyValue("title");
                var category = item.GetPropertyValue("category");
                var isFav = item.GetPropertyValue("isfavorite").ToString();
                var isLike = item.GetPropertyValue("islike").ToString();
                var isNew = item.GetPropertyValue("isnew").ToString();
                var tags = item.GetPropertyValue("itemtag").ToString();
                var id = item.Id;
                
                <div class="hero-grid__item">
                    <div class="box-title">
                        <div class="col-md-7 productName"><h4>@title</h4></div>
                        @if (isNew == isTrue)
                        {
                           <div class="col-md-5"><img src="~/Assets/Images/new.png" class="img-responsive"/></div>   
                        }
                    </div>
                    <img class="img-responsive" src="@imageList.First().Url" />
                    <div class="box-description">
                        <p>
                            @description
                        </p>
                        <hr />
                        <div class="col-md-12 item-desc">
                            @if(isLike == isTrue)
                            {
                               <div class="col-md-3 icon-desc"><img src="~/Assets/Images/like.png" class="img-responsive"/></div>   
                            }
                            @if(isFav == isTrue)
                            {
                               <div class="col-md-3 icon-desc"><img src="~/Assets/Images/fav.png" class="img-responsive" /></div>   
                            }
                            <div class="pull-right col-md-4"><a href=~/produk/produkdetail?Id=@id><img src="~/Assets/Images/dot.png" class="img-responsive" /></a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

