﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var mediaIds = Model.MacroParameters["productRecomended"];}

@{
    var productHolder = Umbraco.TypedContent(mediaIds);
    var children = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem)
        .Where(x => x.GetPropertyValue("isRecomended").ToString() == "True").Take(4).ToList();
}

<div class="product">
    @foreach (var item in children)
    {
        var imageList = item.GetPropertyValue("images") as Umbraco.Web.Models.DynamicPublishedContentList;
        var imageUrl =  imageList.First().Url;
        //var imageContent = item.GetPropertyValue<IPublishedContent>("image");
        //var imageUrl = imageContent != null ? imageContent.Url : string.Empty;
        var description = item.GetPropertyValue("description");
        var title = item.GetPropertyValue("title");
        var id = item.Id;
        
        <div class="col-md-3">
            <img src="@imageUrl" class="img-responsive" />
            <div class="product-description">
                <h4><a href="~/produk/produkdetail?Id=@id">@title</a></h4>
                <hr />
                <p>
                    @description
                </p>
            </div>
        </div>
    }
</div>
