﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var mediaIds = Model.MacroParameters["productDetail"];}

@{
    var url = Request.QueryString.ToString();
    var id = url.Replace("Id=", "");
    int xy = 0;
    Int32.TryParse(id, out xy);
    var productHolder = Umbraco.TypedContent(mediaIds);

    var children = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem)
        .Where(x => x.Id == xy).First();

    var imageList = children.GetPropertyValue("images") as Umbraco.Web.Models.DynamicPublishedContentList;
    //var itemTag = children.GetPropertyValue("itemtag");
    //var itemTitle = children.GetPropertyValue("title");
    //var itemBrand = children.GetPropertyValue("brand");
    //var itemDetail = children.GetPropertyValue("productdetail");
}

<section>
    <div>
        <div class="row">
            @*<ol class="breadcrumb kawi-crumb">
                <li><a href="/produk">Produk</a></li>
                <li><a href="/produk?tag=@itemTag">@itemTag</a></li>
                <li>@itemTitle</li>
            </ol>
            <div class="product-detail-title">
                    <h3>@itemTitle</h3>
                    <h4>Brand: @itemBrand</h4>
                </div>*@
            <hr />
            <div class="col-md-5" style="margin-top:25px;">
                <section class="slider-for">
                        @if (imageList != null)
                        {
                            foreach (var caseStudyImage in imageList)
                            {
                                <div class="product-img">
                                    <img src="@caseStudyImage.Url" />
                                </div>
                            }
                        }
                        else
                        {
                            var imageContent = children.GetPropertyValue<IPublishedContent>("image");
                            var imageUrl = imageContent != null ? imageContent.Url : string.Empty;
                            <div class="product-img">
                                <img src="@imageUrl" />
                            </div>
                        }
                    </section>
                    <section class="slider-nav">
                        @if (imageList != null)
                        {
                            foreach (var caseStudyImage in imageList)
                            {
                                <div class="product-img-slider">
                                    <img src="@caseStudyImage.Url" />
                                </div>
                            }
                        }
                    </section>
            </div>
            <div class="col-md-7">
                <div class="product-detail-title">
                    <h3>Detail Produk</h3>
                </div>
                @*<div class="product-detail-description">
                        @itemDetail
                    </div>*@
            </div>
        </div>
    </div>
</section>

