﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var mediaIds = Model.MacroParameters["tagProduct"];}

@{

    var productHolder = Umbraco.TypedContent(mediaIds);
    var children = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem);
    var tags = productHolder.Children(x => x.DocumentTypeAlias == KawiGopala.Site.Library.SiteAllias.ProductItem)
        .Where(x => x.GetPropertyValue("itemtag") != null);

    var service = UmbracoContext.Application.Services.TagService;
    var blogTags = service.GetAllTags("default").ToList();
}

<link rel=" stylesheet" href="~/Assets/Styles/masonry-docs.css" />
<div class="productList">
    <div>
        <h2 style="">Category</h2>
    </div>
    <ul id="tag">
        <li><a href="~/produk">All (@children.Count())</a></li>
        @foreach (var tag in blogTags)
        {
            var item = tag.Text.Replace("-"," ");
            <li><a href="~/produk?tag=@tag.Text" class="tag">@item (@tag.NodeCount)</a></li>
        }
    </ul>
</div>
